<h1>Users#show</h1>
<p>User's email: <%= current_user.email %></p>
<p>Number of Sign-ins: <%= current_user.sign_in_count %></p>
<p>Current number of Sign-ins: <%= current_user.sign_in_count %></p>
<p>User's last sign in: <%= current_user.last_sign_in_at %></p>
<p>User created at: <%= current_user.created_at %></p>


